@font-face {
  font-family: "PPFormula-Condensed-Black";
  src: url(../assets/Fonts/PPFormula-CondensedBlack.otf);
}

@font-face {
  font-family: "PPFormula-extrabold";
  src: url(../assets/Fonts/PPFormula-ExtendedBold.otf);
}

@font-face {
  font-family: "PPFormula-SemiBold";
  src: url(../assets/Fonts/PPFormula-SemiExtendedBold.otf);
}

@font-face {
  font-family: "PPFormula-medium";
  src: url(../assets/Fonts/PPFormula-Medium.otf);
}

@font-face {
  font-family: "PPFormula-light";
  src: url(../assets/Fonts/PPFormula-Light.otf);
}

@font-face {
  font-family: "PPFormula-SemiExtBold";
  src: url(../assets/Fonts/PPFormula-SemiExtendedBold.otf);
}

/* 
@font-face {
  font-family: ;
  src: url();
}

@font-face {
  font-family: ;
  src: url();
} */

:root {
  --primary-white: #fff;
  --primary-black: #121212;

  --secondary-one: #751500;
  --secondary-two: #006049;
  --secondary-three: #ff7300;

  --grey-one: #fafafa;
  --grey-two: #f1f4f4;
  --grey-three: #e7eced;
  --grey-four: #3f4142;
  --grey-five: #282e30;
  --grey-six: #171717;
  --grey-extra: #777a7c;

  --jira-primary-one: #370000;
  --jira-primary-two: #ff1d25;
  --jira-secondary-one: #e20018;
  --jira-secondary-two: #ff78cc;
  --jira-secondary-three: #ffbddb;

  --conf-primary-one: #052747;
  --conf-primary-two: #00afff;
  --conf-secondary-one: #003661;
  --conf-secondary-two: #003bff;
  --conf-secondary-three: #00d1c3;

  --spacing-regular: 0.8rem;
  --spacing-half: 0.4rem;
  --spacing-small: 0.2rem;
  --spacing-big: 1.6rem;

  --heading-one: "PPFormula-extrabold", Arial, Helvetica, sans-serif;
  --heading-two: "PPFormula-semibold", Arial, Helvetica, sans-serif;
  --regular-text: "PPFormula-medium", Arial, Helvetica, sans-serif;
  --light-text: "PPFormula-light", Arial, Helvetica, sans-serif;
  --extra-heading: "PPFormula-SemiExtBold", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

body {
  font-family: var(--regular-text);
}

/* text */

h2,
h3 {
  font-family: var(--heading-two);
}

h1 {
  font-family: var(--heading-one);
  font-size: 2.25rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.1rem;
}

p {
  font-family: var(--regular-text);
}

/* * */

.header-wrapper {
  background-image: url(../assets/svg/Confluence-Blue-02-16x9.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  height: 77vh;
  margin-bottom: var(--spacing-big);
}

.header-wrapper .wrapper {
  max-width: 75vw;
}

.header-wrapper h1 {
  animation: slide-back 0.5s ease-in-out;
}

@keyframes slide-back {
  from {
    opacity: 0;
    transform: translateX(-75%);
  }
  to {
    opacity: 100;
    transform: translateX(0%);
  }
}

header {
  color: var(--primary-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  --spacing-regular: 1em;
  padding: var(--spacing-regular);
  backdrop-filter: blur(50px) saturate(125%);
  -webkit-backdrop-filter: blur(50px) saturate(125%);
  box-shadow: 0 8px 32px 0 rgba(135, 36, 31, 0.1);

  img {
    transition: rotate 0.5s cubic-bezier(0.52, -0.11, 0.49, 1.26);
  }
}

header img:first-of-type:hover {
  rotate: 180deg;
}

.wrapper {
  width: 100vw;
  height: 70vh;
  color: var(--primary-white);
  --spacing-big: 5.5rem;
  padding: var(--spacing-big) var(--spacing-regular) var(--spacing-regular)
    var(--spacing-regular);

  p {
    font-family: var(--regular-text);
    font-size: 2.2rem;
    padding-left: var(--spacing-regular);
    align-self: center;
  }
}

/** main */

main {
  color: var(--primary-black);
}

main p {
  max-width: 40ch;
}

/** apps container  */

.app-wrapper,
.about-wrapper {
  padding: var(--spacing-regular) var(--spacing-big);
  margin: var(--spacing-big) 0;
  max-width: 49rem;

  img {
    padding: var(--spacing-half);
  }
}

.tab {
  margin-left: var(--spacing-regular);
  overflow: hidden;
}

.tab button {
  font-size: 0.95rem;
  cursor: pointer;
  padding: var(--spacing-small) var(--spacing-big);
  border: none;
  border-radius: 6px 6px 0px 0px;
  transition: 0.3s;
}

.tab-conf {
  color: var(--primary-white);
  --conf-primary-two: #0d9de0;
  background-color: var(--conf-primary-two);
}

.tab-conf-passive {
  background-color: var(--conf-primary-one);
}

.tab-conf:hover,
.tab-conf:active {
  background-color: var(--conf-primary-two);
}

.tab-jira {
  color: var(--primary-white);
  background-color: var(--jira-primary-one);
}

.tab-jira:hover,
.tab-jira:active {
  background-color: var(--jira-primary-two);
}

.jira-tab-content,
.conf-tab-content {
  display: none;
  padding: var(--spacing-half) var(--spacing-regular);
  border: 1px solid var(--grey-four);
  border-radius: 4px;
}

/* app showcase v2 */

.app-tabs {
  display: flex;
  flex-direction: row;
  --spacing-big: 1.4rem;
  margin-top: var(--spacing-big);

  button {
    font-size: 1rem;
    background-color: var(--grey-one);
    color: var(--primary-black);
    padding: var(--spacing-small) var(--spacing-half);
    width: 7rem;
    border-radius: 6px 6px 0 0;
    border: none;
    transition: background-color 0.15s ease-in-out;
  }

  button:hover {
    background-color: var(--grey-three);
  }
}

.app-tabs .passive-tab {
  background-color: var(--grey-two);
  background-image: none;
  font-size: 0.9rem;
  transition: background-color 0.2s ease-in-out;
}

/* carousel */

.conf-carousel-container,
.jira-carousel-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 16rem;
  max-width: 47rem;
  height: 100%;
  border: 1px solid var(--grey-two);
  border-radius: 0px 12px 12px 12px;
}

.carousel-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  height: fit-content;
  width: 100%;
  padding: var(--spacing-regular) var(--spacing-big);
}

.jira-carousel,
.conf-carousel {
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-align: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.app-btns {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.app-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 14rem;
  width: 100%;
  max-width: 50rem;
  height: 35rem;
  --spacing-regular: 1.2rem;
  padding: var(--spacing-regular);
  --spacing-big: 2rem;
  margin: 0 var(--spacing-big);
  border-radius: 6px;
  border: 1px solid var(--grey-four);

  img {
    align-self: center;
    width: 170px;
    margin: 0;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    display: flex;
    align-self: center;
    font-size: 0.9rem;
    max-width: 37ch;
  }

  button {
    color: var(--primary-white);
    background-color: var(--conf-primary-one);
    font-size: 0.9rem;
    width: fit-content;
    justify-self: start;
    margin-top: var(--spacing-big);
    padding: var(--spacing-regular);
    border: 0;
    border-radius: 6px;
    transition: background 0.2s ease-in-out;
  }

  button:hover {
    background-color: var(--conf-primary-two);
  }
}

.app-card:first-of-type {
  margin-left: 0;
}

.app-card:last-of-type {
  margin-right: 0;
}

.jira-content {
  display: none;

  button {
    background-color: var(--jira-primary-one);
  }

  button:hover {
    background-color: var(--jira-secondary-one);
  }
}

.conf-carousel-container .app-btns {
  display: flex;
  flex-direction: row;
  justify-items: space-evenly;
  align-content: center;

  .conf-prev-btn,
  .conf-next-btn {
    color: var(--conf-primary-one);
    background-color: transparent;
    font-size: 2.5rem;
    transition: scale 0.25s ease-in-out;
    margin: 0;
    border: none;
  }

  .carousel-btn:hover {
    color: var(--grey-four);
  }

  .carousel-btn:active {
    scale: 0.85;
    align-self: center;
  }
}

.jira-carousel-container .app-btns {
  display: flex;
  flex-direction: row;
  justify-items: space-evenly;
  align-content: center;

  .carousel-btn {
    background-color: transparent;
    font-size: 2.5rem;
    transition: scale 0.25s ease-in-out;
    margin: 0;
    border: none;
  }

  .carousel-btn:hover {
    color: var(--grey-four);
  }

  .carousel-btn:active {
    scale: 0.85;
    align-self: center;
  }
}

.carousel-dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  button {
    background-color: var(--grey-extra);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: none;
    margin: 0 auto;
    scale: 0.8;
    transition: background-color 0.15s ease-in-out;
  }

  button:hover {
    background-color: var(--grey-five);
  }
}

.active-dot {
  background-color: var(--grey-four);
}

/* Interactie */

.show {
  display: block;
}

.hide {
  display: none;
}

/* *Footer */

footer {
  background-image: url(../assets/svg/Caelor-Black-03-16x9.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  position: relative;
  color: var(--primary-white);
  bottom: 0;
  width: 100%;
  padding: var(--spacing-big) var(--spacing-regular);

  li {
    list-style: none;
  }

  a {
    color: var(--primary-white);
  }
}

.footer-one,
.footer-two,
.footer-three {
  padding-top: var(--spacing-regular);
}

/* * media query */

@media (min-width: 430px) {
  .app-card {
    width: 100rem;
  }
}

@media (min-width: 610px) {
    h1 {
      align-self: center;
    }

  .about-text-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "a a c"
      "b b b";
    row-gap: 0.5rem;
  }

  .about-text-grid p:first-of-type {
    grid-area: a;
  }

  .about-text-grid p:nth-of-type(2) {
    grid-area: b;
  }

  .about-text-grid img {
    grid-area: c;
  }

  .app-showcase-v2 {
    width: 95%;
    max-width: 47rem;
  }
}

@media (min-width: 820px) {
  .wrapper {
    display: grid;
    align-items: center;
    max-width: 90%;
    max-height: 10rem;
    margin: 0 auto;
  }

  main {
    display: grid;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
  }

  .tab button {
    font-size: 1.2rem;
  }

  .about-text-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "a a a c c c"
      "b b b c c c";
    row-gap: 0.5rem;

    p {
      font-size: 1.08rem;
    }
  }

  .about-text-grid p:first-of-type {
    grid-area: a;
  }

  .about-text-grid p:nth-of-type(2) {
    grid-area: b;
  }

  .about-text-grid img {
    grid-area: c;
    width: 100%;
    align-self: center;
  }

  .app-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-width: 25rem;
    max-height: 28rem;

    img {
      grid-column: 1/2;
      grid-row: 1/2;
      width: 150px;
      justify-self: center;
      align-self: end;
    }

    h3 {
      grid-column: 2/4;
      grid-row: 1/2;
      justify-self: center;
      font-size: 2.5rem;
    }

    p {
      grid-column: 1/4;
      grid-row: 2/3;
      font-size: 1rem;
      padding: var(--spacing-half);
    }

    button {
      grid-column: 1/3;
      grid-row: 3/4;
      margin-top: 0;
      justify-self: center;
      font-size: 1rem;
    }

    .app-btns {
      grid-column: 2/5;
      grid-row: 3/4;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}