@font-face {
  font-family: "PPFormula-Condensed-Black";
  src: url(../assets/Fonts/PPFormula-CondensedBlack.otf);
}

@font-face {
  font-family: "PPFormula-extrabold";
  src: url(../assets/Fonts/PPFormula-ExtendedBold.otf);
}

@font-face {
  font-family: "PPFormula-SemiBold";
  src: url(../assets/Fonts/PPFormula-SemiExtendedBold.otf);
}

@font-face {
  font-family: "PPFormula-medium";
  src: url(../assets/Fonts/PPFormula-Medium.otf);
}

@font-face {
  font-family: "PPFormula-light";
  src: url(../assets/Fonts/PPFormula-Light.otf);
}

@font-face {
  font-family: "PPFormula-SemiExtBold";
  src: url(../assets/Fonts/PPFormula-SemiExtendedBold.otf);
}

/* 
@font-face {
  font-family: ;
  src: url();
}

@font-face {
  font-family: ;
  src: url();
} */

:root {
  --primary-white: #fff;
  --primary-black: #121212;

  --secondary-one: #751500;
  --secondary-two: #006049;
  --secondary-three: #ff7300;

  --grey-one: #fafafa;
  --grey-two: #f1f4f4;
  --grey-three: #e7eced;
  --grey-four: #3f4142;
  --grey-five: #282e30;
  --grey-six: #171717;

  --jira-primary-one: #370000;
  --jira-primary-two: #ff1d25;
  --jira-secondary-one: #e20018;
  --jira-secondary-two: #ff78cc;
  --jira-secondary-three: #ffbddb;

  --conf-primary-one: #052747;
  --conf-primary-two: #00afff;
  --conf-secondary-one: #003661;
  --conf-secondary-two: #003bff;
  --conf-secondary-three: #00d1c3;

  --spacing-regular: 0.8rem;
  --spacing-half: 0.4rem;
  --spacing-small: 0.2rem;
  --spacing-big: 1.6rem;

  --heading-one: "PPFormula-extrabold", Arial, Helvetica, sans-serif;
  --heading-two: "PPFormula-semibold", Arial, Helvetica, sans-serif;
  --regular-text: "PPFormula-medium", Arial, Helvetica, sans-serif;
  --light-text: "PPFormula-light", Arial, Helvetica, sans-serif;
  --extra-heading: "PPFormula-SemiExtBold", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

/* text */

h2,
h3 {
  font-family: var(--heading-two);
}

h1 {
  font-family: var(--heading-one);
  font-size: 4rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.1rem;
}

p {
  font-family: var(--regular-text);
}

/* * */

.header-wrapper {
  background-image: url(../assets/svg/Caelor-Red-02-16x9.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

header {
  color: var(--primary-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  --spacing-regular: 1em;
  padding: var(--spacing-regular);
  backdrop-filter: blur(20px) saturate(120%);
  -webkit-backdrop-filter: blur(20px) saturate(120%);
  box-shadow: 0 8px 32px 0 rgba(135, 36, 31, 0.1);
}

.wrapper {
  width: 100vw;
  height: 70vh;
  color: var(--primary-white);
  --spacing-big: 5.5rem;
  padding: var(--spacing-big) var(--spacing-regular) var(--spacing-regular)
    var(--spacing-regular);

  p {
    font-family: var(--regular-text);
    font-size: 1.3rem;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  padding: var(--spacing-half) var(--spacing-half);
  margin: var(--spacing-regular) 0 0 0;

  button {
    font-size: 0.8rem;
    width: 8.5rem;
    height: 2.4rem;
    padding: var(--spacing-small);
  }

  button:first-of-type {
    margin-right: var(--spacing-regular);
  }
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    var(--jira-secondary-two) 0%,
    var(--jira-primary-two) 51%,
    var(--jira-secondary-two) 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 2px 10px var(--jira-primary-one);
  border: none;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-grad-two {
  background-image: linear-gradient(
    to right,
    var(--jira-primary-two) 0%,
    var(--jira-secondary-two) 51%,
    var(--jira-primary-two) 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 2px 10px var(--jira-primary-one);
  border: none;
  border-radius: 10px;
  display: block;
}

.btn-grad-two:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.custom-shape-divider-bottom-1705146441 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1705146441 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 20px;
}

.custom-shape-divider-bottom-1705146441 .shape-fill {
  fill: var(--primary-white);
}

/** main */

main {
  color: var(--primary-black);
  height: 100vw;
}

main p {
  max-width: 40ch;
}

.app-wrapper {
  height: 100vh;
}

.app-wrapper,
.about-wrapper {
  padding: var(--spacing-regular);
  margin-top: -1rem;

  img {
    padding: var(--spacing-half);
  }
}

/** apps container  */

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.jira-tab-content, .conf-tab-content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Interactie */

.show {
  display: block;
}

.hide {
  display: none;
}

/**  about section */

/* *Footer */

footer {
  background-image: url(../assets/svg/Caelor-Black-03-16x9.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  position: relative;
  color: var(--primary-white);
  bottom: 0;
  width: 100%;
  padding: var(--spacing-big) var(--spacing-regular);

  li {
    list-style: none;
  }

  a {
    color: var(--primary-white);
  }
}

.footer-one,
.footer-two,
.footer-three {
  padding-top: var(--spacing-regular);
}

/* * media query */

@media (min-width: 600px) {
  .about-text-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "a b b"
      "c b b";
    padding-top: -1rem;

    p {
      padding-left: var(--spacing-half);
      font-size: 1.12rem;
    }
  }

  .about-text-grid p:first-of-type {
    grid-area: a;
  }

  .about-text-grid img {
    grid-area: b;
    align-self: center;
    justify-self: center;
    width: 450px;
  }

  .about-text-grid p:nth-of-type(2) {
    grid-area: c;
    padding-top: var(--spacing-regular);
  }

  .wrapper {
    padding: 5.5rem var(--spacing-regular) 5rem var(--spacing-regular);
  }
}
